<footer class="site-footer">

  <div class="site-info">
    {% if site.github_username %}
    <span class="github-info">
      <a href="https://github.com/{{ site.github_username }}">
        <svg viewBox="0 0 16 16" class="github-icon">
          
        </svg>
        <span class="username">{{ site.github_username }}@github</span>
      </a>
    </span>          
    {% endif %}
    
    <span class="footer-copyright">
      <a href="{{site.url}}}">{{site.title}}</a>© • All rights reserved.
    </span>
  </div> 

</footer>


