<nav class = "navBar">
	<ul>
	  <li>
	    <a href="{{site.baseurl}}/index.html" class = "{% if page.url == '/index.html'%} currentPage {% endif %}">Home</a>
	    <a href="{{site.baseurl}}/coding.html" class = "{% if page.url == '/coding.html'%} currentPage {% endif %}">Coding</a>
	    <a href="{{site.baseurl}}/daily.html" class = "{% if page.url == '/daily.html'%} currentPage {% endif %}">Daily</a>
	    <a href="{{site.baseurl}}/aboutme.html" class = "{% if page.url == '/aboutme.html'%} currentPage {% endif %}">About Me</a>
	  </li>
	</ul>
</nav>