<nav id="site-navigation" class="main-navigation" role="navigation">
	<div class="menu-container">
		<ul id="primary-menu" class="menu">
			<li id="menu-item-one" class="menu-item menu-item-aboutme"><a href="http://bochentheone.com/?page_id=116">About Me</a></li>
			<li id="menu-item-two" class="menu-item menu-item-howto"><a href="http://bochentheone.com/?cat=28">How to</a></li>
			<li id="menu-item-three" class="menu-item menu-item-coding"><a href="http://bochentheone.com/?cat=8">Coding</a></li>
			<li id="menu-item-four" class="menu-item menu-item-enjoylife"><a href="http://bochentheone.com/?cat=23">Enjoy Life</a></li>
			<li id="menu-item-five" class="menu-item menu-item-resume"><a href="http://bochentheone.com/?post_type=rb_resume&#038;p=175">My Resume</a></li>
		</ul>
	</div>			
</nav><!-- #site-navigation -->